@model Lib.Users

@{
    ViewBag.Title = "Login";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a asp-action="Index" asp-controller="Frontend" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/images/logo.svg.png" width="180">
                            </a>
                            <p class="fs-4 mb-0 fw-bold text-center">Welcome to Inter Miami FC</p>
                                @if (!string.IsNullOrEmpty(ViewBag.errormsg))
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.errormsg
                                    </div>
                                }
                                <br />
                            <form asp-action="Login" asp-controller="Authen" method="post">
                                <div class="mb-3">
                                    <label for="Username" class="form-label">Username</label>
                                    <input asp-for="Username" name="username" class="form-control" />
                                </div>
                                <div class="mb-4">
                                    <label for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" name="password" class="form-control" />
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label text-dark" for="flexCheckChecked">
                                            Remeber this Device
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
                                </div>
                                <button type="submit" value="Login" class="btn btn-success">Login</button> 
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
                                    <a class="text-primary fw-bold ms-2" asp-action="Create" asp-controller="CreateAccount">Create an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>