@model Lib.BrandMst

@{
    ViewData["Title"] = "Delete";
    Layout = "_BackendLayout";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

    <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Xác nhận xóa Brand</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="DeleteConfirmed" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label asp-for="Brand_ID" class="form-label">Brand ID</label>
                                    <input asp-for="Brand_ID" class="form-control" readonly />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Brand_Type" class="form-label">Brand Type</label>
                                    <input asp-for="Brand_Type" class="form-control" readonly />
                                </div>
                                <button type="submit" class="btn btn-danger">Xóa</button>
                                <a class="btn btn-primary" asp-action="Index">Hủy bỏ</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
